/*<!--
Practica02
Futbol
Author:   Fernando Sánchez
Date: 19/10/2019
Filename: style2.css
-->*/
.otro{
  border: 1px black solid;
  padding: 10px;
  margin: 10px;
}


body > aside {
  margin-left:-30px;
  margin-right:20px;
  width: 81%;
  border: 1px black solid;
  float: left;
  margin: 10px;
}

body > footer {
  margin: 10px;
	clear: left;
  width: auto;
}
