#menu{
 width:17%; /* 17% ancho del menú */
 height:50%; /* altura del menú*/
 float: left; /* Flotar a la izquierda el menú*/
 border: 3px #1F2021 solid; /* borde con un tamaño de 3px, un color plomo y su estilo solido*/
 margin: 10px ; /*Espacio de 10px del borde*/
 margin-left: 1%; /*Espacio de 1% del border principal, a la izquierda*/
}
#menu ul{/*Ubicación de los botones*/
 list-style-type: none; /*Ningun tipo de marcador*/
 margin-left:-30px;/*Espacio del menú a la izquierda*/
 margin-right:20px;/*Espacio del menú a la derecha*/
}
#menu ul a{/* Estructura de los botones*/
 display:block;/*Tipo del cuadro, en este caso cuadrado*/
 background: #922b21;/*Fondo del menú con color rojo*/
 margin-bottom:5px;/*5px espacio entre botones*/
 padding:10px ;/*Espacio alrededor del contenido*/
 border-radius:50px;/*Borde de los botones 50 pixeles*/
 text-decoration:none;/*Quitar la decoración por defecto*/
 color:white;/*Colof de las letras blanco*/
 font:16px Verdana;/*Tipo de letra*/
}

#menu ul a:hover{/* Seleccionar botones, cambiar fondo*/
 background: #e74c3c;/*Fondo de los botones*/
}

div#buttons{/*Forma del texto, del menú*/
  text-align: center;/*Centrar texto*/
  width: 100%/*anchura del texto*/
}

input[type='submit']{/*Diseño del botón */
  font-size: 1.2em;/*Tamano de las letras*/
  padding: 5px;/*Espacio alrededor del contenido*/
  margin: 15px;/*Espacio de 15px del borde*/
  background: #922b21;/*Fondo del botón*/
}
label {/*Diseño de los label*/
    color: #BDC3C7 ;/*Color de las letras, plomo*/
    padding: 10px;/*Espacio alrededor del contenido**/
    margin: 3px;/*Espacio de 3px del borde*/
}

#label label{ /*Ubicación de los label*/
 margin-left:-30px;/*Espacio del borde a la izquierda*/
 margin-right:20px;/*Espacio del borde a la derecha**/
}
h1{
  color: grey;/*Color de las letras, plomo*/
  font-size:30px;/*Tamaño del tipo de letra 30 píxeles*/
  text-align: center;/*Texto al medio*/
  text-shadow: #555 2px 2px 3px;/*Agregar sombra al texto*/
  text-decoration: underline overline;/*Decoración underline overlineh */
  background-color: #922b21;/*Fondo con color rojo*/
}
h2{
  color: #922b21;/*Color de las letras, rojo-negro*/
  font-size:30px;/*Tamaño del tipo de letra 30 píxeles*/
  font-style: italic;/*Estilo de letras italic*/
  text-shadow: #555 2px 2px 3px;/**//*Agregar sombra al texto*/
  text-decoration-style: double;/*Decoración con estilo double */
  text-decoration: underline wavy#922b21 ;/*Fondo con color rojo-negro*/
}
h3{
  color: #e74c3c;/*Color de las letras, rojo*/
  font-size:30px;/*Tamaño del tipo de letra 30 píxeles*/
  font-family: inherit;/*Estilo de letras inherit*/
  text-shadow: #555 2px 2px 3px;/*Agregar sombra al texto*/
  text-decoration: underline #e74c3c;/*Decoración subrayada con color rojo*/
}
h4{
  color: #b9770e;/*Color de las letras, gold*/
  font-size:20px;/*Tamaño del tipo de letra 20 píxeles*/
  font-family: fantasy;/*Estilo de letras fantasy*/
  text-shadow: #555 2px 2px 3px;/*Agregar sombra al texto*/
  text-decoration: overline;/*Decoración overline*/

}
h5{
  color: #5B2C6F;/*Color de las letras, morado*/
  font-size:30px; /*Tamaño del tipo de letra 30 píxeles*/
  font-family: cursive; /*Estilo de letras cursive*/
  text-shadow: #555 2px 2px 3px;/*Agregar sombra al texto*/
  text-decoration: line-through;/*Decoración line-through */

}
h6{
  color: #1F618D;/*Color de las letras, azul*/
  font-size:25px;/*Tamaño del tipo de letra 25 píxeles*/
  font-style: oblique;/*Establecer el estilo oblique del font-family*/
  text-shadow: #555 2px 2px 3px;/*Agregar sombra al texto*/
}
.imagen1{
  color: #909497;/*Color de las letras, plomo*/
  font-size: 150%; /*Tamaño del tipo de letra 150%*/
  text-align: center;/*Texto al medio*/
  font-family:'Impact'; /*Estilo de letras Impact*/
}
.imagen2{
  color: #909497;/*Color de las letras, plomo*/
  font-size: 100%; /*Tamaño del tipo de letra 100%*/
  text-align: center;/*Texto al medio*/
  font-family:'Chalkduster'; /*Estilo de letras Chalkduster*/
}
.imagen3{
  color: #909497;/*Color de las letras, plomo*/
  font-size: 110%; /*Tamaño del tipo de letra 110%*/
  text-align: center;/*Texto al medio*/
  font-family:'Marker Felt'; /*Estilo de letras Marker Felt*/
}
.imagen5{
  display: block;  /*Tipo del cuadro, en este caso sea como un bloque*/
  margin: auto; /* Espacio del cuadro, el navegador calcula el margen*/
  border: 10px dashed  #b9770e; /*Tamaño el borde 10 pixeles, estilo del borde dashed y color del borde amarillo*/
}
.imagen6{
  display: block;  /*Tipo del cuadro, en este caso sea como un bloque*/
  margin: auto; /* Espacio del cuadro, el navegador calcula el margen*/
  border: 10px double #b9770e;/*Tamaño el borde 10 pixeles, estilo del borde doubley color del borde amarillo*/
}
.imagen7{
  display: block;  /*Tipo del cuadro, en este caso sea como un bloque*/
  margin: auto; /* Espacio del cuadro, el navegador calcula el margen*/
  border: 10px solid #b9770e; /*Tamaño el borde 10 pixeles, estilo del borde solid y color del borde amarillo*/
}
.imagen8{
  display: block;  /*Tipo del cuadro, en este caso sea como un bloque*/
  margin: auto; /* Espacio del cuadro, el navegador calcula el margen*/
  border: 10px dotted green; /*Tamaño el borde 10 pixeles, estilo del borde dotted y color del borde verde*/
}
.imagen9{
  display: block;  /*Tipo del cuadro, en este caso sea como un bloque*/
  margin: auto; /* Espacio del cuadro, el navegador calcula el margen*/
  border: 10px groove green;/*Tamaño el borde 10 pixeles, estilo del borde groove y color del borde verde*/
}
.imagen10{
  display: block;  /*Tipo del cuadro, en este caso sea como un bloque*/
  margin: auto; /* Espacio del cuadro, el navegador calcula el margen*/
  border: 10px ridge green;/*Tamaño el borde 10 pixeles, estilo del borde rigde y color del borde verde*/
  border-radius: 50px;/*Borde de la imagen, 50 pixeles*/
}
.imagen11{
  display: block;  /*Tipo del cuadro, en este caso sea como un bloque*/
  margin: auto; /* Espacio del cuadro, el navegador calcula el margen*/
  border: 10px inset green; /*Tamaño el borde 10 pixeles, estilo del borde inset y color del borde verde*/
  border-radius: 50px;/*Borde de la imagen, 50 pixeles*/
}
.imagen12{
  border-color: #226b80; /*Color del borde*/
  border-width: thick;/*La anchura del borde, grueso*/
  border-style: inset;/*Establecer el estilo inset del font-family*/
  border-radius: 50px;/*Borde de la imagen, 50 pixeles*/
}
.imagen13{
  border-color: #226b80;/*Color del borde*/
  border-width: thick;/*La anchura del borde, grueso*/
  border-style: dotted;/*Establecer el estilo dotted del font-family*/
  border-radius: 50px;/*Borde de la imagen, 50 pixeles*/
}
.imagen14{
  border-color: #226b80;/*Color del borde*/
  border-width: thick;/*La anchura del borde, grueso*/
  border-style: double;/*Establecer el estilo double del font-family*/
  border-radius: 50px;/*Borde de la imagen, 50 pixeles*/
}
.imagen15{
  border-color: #fdd043; /*Color del borde*/
  border-width: thick;/*La anchura del borde, grueso*/
  border-style: ridge;/*Establecer el estilo ridge del font-family*/
  border-radius: 50px;/*Borde de la imagen, 50 pixeles*/
}
.imagen16{
  border-color: #00b7a8;/*Color del borde*/
  border-width: thick;/*La anchura del borde, grueso*/
  border-style: dashed;/*Establecer el estilo dashed del font-family*/
  border-radius: 50px;/*Borde de la imagen, 50 pixeles*/
}
.imagen17{
  border-color: blue; /*Color del borde azul*/
  border-width: thick;/*La anchura del borde, grueso*/
  border-style: inset;/*Establecer el estilo inset del font-family*/
  border-radius: 50px;/*Borde de la imagen, 50 pixeles*/
}
.imagen18{
  border-color: #aa7070;/*Color del borde*/
  border-width: thick;/*La anchura del borde, grueso*/
  border-style: inherit;/*Establecer el estilo inherit del font-family*/
  border-radius: 50px;/*Borde de la imagen, 50 pixeles*/
}
.imagen19{
  border-color: #c70039;/*Color del borde*/
  border-width: thick;/*La anchura del borde, grueso*/
  border-style: inherit;/*Establecer el estilo inherite del font-family*/
  border-radius: 50px;/*Borde de la imagen, 50 pixeles*/
}
.imagen20{
  border-color: #c70039;/*Color del borde*/
  border-width: thick;/*La anchura del borde, grueso*/
  border-style: inset;/*Establecer el estilo inset del font-family*/
  border-radius: 50px;/*Borde de la imagen, 50 pixeles*/
}
.imagen21{
  border-color: #c70039;/*Color del borde*/
  border-width: thick;/*La anchura del borde, grueso*/
  border-style: double;/*Establecer el estilo double del font-family*/
  border-radius: 50px;/*Borde de la imagen, 50 pixeles*/
}
.imagen22{
  color: #1A5276;/*Color de las letras #1A5276*/
  text-align: center;/*Texto al medio*/
  font-size:20px; /*Tamaño del tipo de letra 20 píxeles*/
  font-family:'GulimChe'; /*Estilo de letras GulimChe*/
  font-weight: bold; /*el grosor de las letras negrita*/
  font-style: italic;/*Establecer el estilo italic del font-family*/
  line-height:30px;/*Altura de una casilla remarcada por líneas con 30 pixeles*/
  letter-spacing:5px; /*espacio entre caracteres con 5 pixeles*/
}
.imagen23{
  color: #1A5276;/*Color del texto plomo*/
  text-align: center;/*Texto al medio*/
  font-size:20px; /*Tamaño del tipo de letra 20 píxeles*/
  font-family:'Gungsuh';/*Estilo de letras Gungsuh*/
  font-weight:bold;/*el grosor de las letras negrita*/
  font-style: oblique;/*Establecer el estilo oblique del font-family*/
  line-height:30px;/*Altura de una casilla remarcada por líneas con 30 pixeles*/
  letter-spacing:5px;/*espacio entre caracteres con 5 pixeles*/
}
.imagen24{
  color: #1A5276;/*Color del texto plomo*/
  text-align: center;/*Texto al medio*/
  font-size:14px; /*Tamaño del tipo de letra 14 píxeles*/
  font-family:'GungsuhChe';/*Estilo de letras GungsuhChe*/
  font-weight:bold;/*el grosor de las letras negrita*/
  line-height:30px;/*Altura de una casilla remarcada por líneas con 30 pixeles*/
  letter-spacing:5px;/*espacio entre caracteres con 5 pixeles*/
  text-indent:30px;/*anchura del texto 20 pixeles*/
}
.imagen25{
  color: #1A5276;/*Color del texto plomo*/
  text-align: center;/*Texto al medio*/
  font-size:20px; /*Tamaño del tipo de letra 20 píxeles*/
  font-family:'Hebrew';/*Estilo de letras Hebrew*/
  line-height:30px;/*Altura de una casilla remarcada por líneas con 30 pixeles*/
  letter-spacing:5px;/*espacio entre caracteres con 5 pixeles*/
  text-indent:30px;/*anchura del texto 20 pixeles*/
}
.imagen26{
  color: #797D7F;/*Color del texto plomo*/
  font-family:'Luminari'; /*Estilo de letras Luminari*/
  text-align: center;/*Texto al medio*/
}
.imagen27{
  color: #797D7F;/*Color del texto plomo*/
  font-family:'Malgun Gothic';/*Estilo de letras Malgun Gothic*/
  text-align: center;/*Texto al medio*/
}
.imagen28{
  color: #797D7F;/*Color del texto plomo*/
  font-family: 'Monaco';/*Estilo de letras Monaco*/
  text-align: center;/*Texto al medio*/
}
.imagen29{
  color: #BFC9CA;/*Color del texto blanco*/
  font-style: italic;/*Establecer el estilo italic del font-family*/
  font-family:'Georgia','Monaco',Arial,Verdana,sans-serif; /*Estilo de letras Georgia,Monaco,Arial,Verdana,sans-serif*/
  text-align: center;/*Texto al medio*/
}
.imagen30{
  color: #BFC9CA;/*Color del texto blanco*/
  font-weight: bold;/*el grosor de las letras negrita*/
  font-style: oblique;/*Establecer el estilo oblique del font-family*/
  font-family:'Times','Verdana',Arial,Verdana,sans-serif;/*Estilo de letras Times, Verdana, Arial, Verdana, sans-serif*/
  text-align: center;/*Texto al medio*/
}
.imagen31{
  color: #BFC9CA;/*Color del texto blanco*/
  font-weight: bold;/*el grosor de las letras negrita*/
  font-style: italic;/*Establecer el estilo italic del font-family*/
  font-family:'Georgia','Times',Arial,Verdana,sans-serif;/*Estilo de letras Georgia, Times, Arial, Verdana, sans-serif*/
  text-align: center;/*Texto al medio*/
}
.imagen32{
  color: #EAEDED;/*Color del texto blanco*/
  font-weight: bold;/*el grosor de las letras negrita*/
  font-style: italic;/*Establecer el estilo italic del font-family*/
  font-family:'Helvetica','Brush Script Std',Arial,Verdana,sans-serif;/*Estilo de letras Helvetica,Brus Script Std,Arial, Verdana, sans-serif*/
  text-align: center;/*Texto al medio*/
}
.imagen33{
  color: #EAEDED;/*Color del texto blanco*/
  font-weight: bold;/*el grosor de las letras negrita*/
  font-style: italic;/*Establecer el estilo italic del font-family*/
  font-family:'Baskerville','Comic Sans MS',Arial,Verdana,sans-serif;/*Estilo de letras Georgia, Monaco, Arial, Verdana, sans-serif*/
  text-align: center;/*Texto al medio*/
}
.imagen34{
  color: #EAEDED;/*Color del texto blanco*/
  font-weight: bold;/*el grosor de las letras negrita*/
  font-style: italic;/*Establecer el estilo italic del font-family*/
  font-family:'Georgia','Helvetica',Arial,Verdana,sans-serif;/*Estilo de letras Georgia, Georgia, Helvetica, Verdana, sans-serif*/
  text-align: center;/*Texto al medio*/
}
.imagen35{
  color: #EAEDED;/*Color del texto blanco*/
  font-weight: bold;/*el grosor de las letras negrita*/
  font-style: italic;/*Establecer el estilo italic del font-family*/
  font-family:'Helvetica','Chalkduster',Arial,Verdana,sans-serif;/*Estilo de letras Helvetica, Chalkduster, Arial, Verdana, sans-serif*/
  text-align: center;/*Texto al medio*/
}
.imagen36{
  color: gray;/*Color del texto plomo*/
  font-variant: small-caps;/*tipo de letra */
  text-shadow: #555 2px 2px 3px;/*sombra al texto*/
  text-align: center;/*Texto al medio*/
}

.imagen37{
  color: white;/*Color del texto blanco*/
  font-size: 150%; /*Tamaño del tipo de letra 150% */
  text-align: center;/*Texto al medio*/
  font-family:'Brush Script MT'; /*Estilo de letras Brush Script MT*/
  border-width:2px; /*La anchura del borde, 2 pixeles*/
  border-color:gray;/*Color del borde gris*/
  border-style:solid;/*Estilo del borde solid*/
}
.imagen38{
  color: white;/*Color del texto blanco*/
  font-size: 120%;/*Tamaño del tipo de letra 120% */
  text-align: center;/*Texto al medio*/
  font-family:'Bradley Hand';/*Estilo de letras Bradley Hand*/
  border-width:7px; /*La anchura del borde, 7 pixeles*/
  border-color:gray;/*Color del borde gris*/
  border-style: inset;/*Estilo del borde inset*/
}
.imagen39{
  color: white;/*Color del texto blanco*/
  font-size: 120%; /*Tamaño del tipo de letra 120% */
  text-align: center;/*Texto al medio*/
  font-family: fantasy;/*Estilo de letras fantasy*/
  border-width:8px;/*La anchura del borde, 8 pixeles*/
  border-color:gray;/*Color del borde gris*/
  border-style: dashed;/*Estilo del borde dashed*/

}
.imagen40{
  color: white;/*Color del texto blanco*/
  font-size: 100%; /*Tamaño del tipo de letra 100% */
  font-family: emoji; /*Estilo de letras emoji*/
  text-align: left;/*Texto a la izquierda*/
  border-style: dashed;/*Estilo del borde dashed*/
  border-color: gray;/*Color del borde gris*/
  border-radius: 10px;/*Borde de la imagen, 10 pixeles*/
}
.imagen41{
  color: white;/*Color del texto blanco*/
  font-size: 100%;/*Tamaño del tipo de letra 100% */
  font-weight: bold;/*el grosor de las letras negrita*/
  font-style: italic;/*Estilo de letras italic*/
  text-align: left;/*Texto a la izquierda*/
  font-family:'FreesiaUPC';/*Estilo de letras FreesiaUPC*/
  border-radius: 10px;/*Borde de la imagen, 10 pixeles*/
  border-color: gray;/*Color del borde gris*/
  border-style: double;/*Estilo del borde double*/
}
.imagen42{
  color: white;/*Color del texto blanco*/
  font-size: 100%;/*Tamaño del tipo de letra 100% */
  font-family:'Futara'; /*Estilo de letras Futura*/
  text-align: left;/*Texto a la izquierda*/
  border-radius: 10px; /*Borde de la imagen, 10 pixeles*/
  border-color: gray;/*Color del borde gris*/
  border-style: groove;/*Estilo del borde groove*/
}
.imagen43{
  color: white;/*Color del texto blanco*/
  font-size: 100%;/*Tamaño del tipo de letra 100% */
  font-family:'Gabriola';/*Estilo de letras Gabriola*/
  text-align: left;/*Texto a la izquierda*/
  border-color: gray;/*Color del borde gris*/
  border-style: dotted;/*Estilo del borde dotted*/
}
.imagen44{
  color: white;/*Color del texto blanco*/
  font-size: 100%;/*Tamaño del tipo de letra 100% */
  font-weight:bold;/*el grosor de las letras negrita*/
  font-style: italic;/*Establecer el estilo italic del font-family*/
  font-family:'Gill Sans';/*Estilo de letras Gill Sans*/
  text-align: left;/*Texto a la izquierda*/
  border-color: gray;/*Color del borde gris*/
  border-style: double;/*Estilo del borde double*/
}
.imagen45{
  color: white;/*Color del texto blanco*/
  font-size: 100%;/*Tamaño del tipo de letra 100% */
  font-family:'Gulim';/*Estilo de letras Gulim*/
  text-align: right;/*Texto a la derecha*/
  border-style: groove;/*Estilo del borde groove*/
}
.imagen46{
  color: white;/*Color del texto blanco*/
  font-size: 100%;/*Tamaño del tipo de letra 100% */
  font-style: italic;/*Establecer el estilo italic del font-family*/
  font-family:'KodchiangUPC';/*Estilo de letras KodchiangUPC*/
  text-align: right;/*Texto a la derecha*/
}
.imagen47{
  color: white;/*Color del texto blanco*/
  font-size: 100%;/*Tamaño del tipo de letra 100% */
  font-style: italic;/*Establecer el estilo italic del font-family*/
  font-family: 'Kokila';/*Estilo de letras Kokila*/
  text-align: right;/*Texto a la derecha*/
}
.imagen48{
  color: white;/*Color del texto blanco*/
  font-size: 100%;/*Tamaño del tipo de letra 100% */
  font-style: italic;/*Establecer el estilo italic del font-family*/
  font-family: 'Plantagenet Cherokee'; /*Estilo de letras Plantagenet Cherokee*/
  text-align: right;/*Texto a la  derecha*/
}

.imagen49{
  color: white;/*Color del texto blanco*/
  font-size: 100%;/*Tamaño del tipo de letra 100% */
  font-family: 'Raavi';/*Estilo de letras Raavi*/
  text-decoration: underline overline wavy #B3B6B7;
  letter-spacing: 5px;/*Espacio entre letras con 5 pixeles*/
  border-color: #515A5A;/*Color del borde gris*/
  border-style: double;/*Estilo del borde double*/
}
.imagen50{
  color: white;/*Color del texto blanco*/
  font-size:100%;/*Tamaño del tipo de letra 100% */
  font-family:'Rockwell';/*Estilo de letras  Rockwell*/
  font-style:italic;/*Establecer el estilo italic del font-family*/
  letter-spacing:5px;/*Espacio entre letras con 5 pixeles*/
  border-color: #515A5A;/*Color del borde gris*/
  border-style: dotted;/*Estilo del borde dotted*/
}
.imagen51{
  color: white;/*Color del texto blanco*/
  font-size:100%;/*Tamaño del tipo de letra 100% */
  font-family: 'Rockwell Extra Bold'; /*Estilo de letras Rockwell Extra Bold*/
  font-style: oblique;/*Establecer el estilo oblique del font-family*/
  text-align: center;/*Texto al medio*/
}

.imagen52{
  color: white;/*Color del texto blanco*/
  font-size:100%;/*Tamaño del tipo de letra 100% */
  font-family: 'Rockwell Nova Cond';/*Estilo de letras Rockwell Nova Cond*/
  font-style: oblique;/*Establecer el estilo oblique del font-family*/
  text-align: right;/*Texto a la derecha*/
  border-color: #909497 ;/*Color del borde gris*/
  border-width: thick; /*La anchura del borde, grueso*/
  border-style: dashed;/*Estilo del borde dashed*/
}
.imagen53{
  color: white;/*Color del texto blanco*/
  font-size:100%;/*Tamaño del tipo de letra 100% */
  font-family: 'Rockwell Nova Extra Bold';/*Estilo de letras Rockwell Nova Extra bol*/
  font-style: oblique;/*Establecer el estilo oblique del font-family*/
  text-align: right;/*Texto a la derecha*/
  border-color: #909497;/*Color del borde gris*/
  border-width: thick;/*La anchura del borde, grueso*/
  border-style: inset;/*Estilo del borde inset*/
}
.imagen54{
  color: white;/*Color del texto blanco*/
  font-size:100%;/*Tamaño del tipo de letra 100% */
  font-family: 'Sakkal Majalla';/*Estilo de letras Sakkal Majalla*/
  font-style: oblique;/*Establecer el estilo oblique del font-family*/
  text-align: right;/*Texto a la derecha*/
  border-color: #909497;/*Color del borde gris*/
  border-width: thick;/*La anchura del borde, grueso*/
  border-style: double;/*Estilo del borde double*/
}
.imagen55{
  color: white;/*Color del texto blanco*/
  font-size:100%;/*Tamaño del tipo de letra 100% */
  font-family: 'Segoe UI Emoji'; /*Estilo de letras Segoe UI Emoji*/
  font-style: oblique;/*Establecer el estilo oblique del font-family*/
  text-align: right;/*Texto a la derecha*/
  border-color: #909497;/*Color del borde gris*/
  border-width: thick;/*La anchura del borde, grueso*/
  border-style: dashed;/*Estilo del borde dashed*/
}
.imagen56{
  color: white;/*Color del texto blanco*/
  font-size:100%;/*Tamaño del tipo de letra 100% */
  font-family: 'Segoe UI Emoji','Tahoma',Arial,Verdana,sans-serif; /*Estilo de letras Segoe UI Emoji, Tahoma, Arial, Verdana, sans-serif*/
  font-style: oblique;/*Establecer el estilo oblique del font-family*/
  border-color: #ECF0F1;/*Color del borde gris*/
  border-width: thick;/*La anchura del borde, grueso*/
  border-style: inset;/*Estilo del borde inset*/
}
.imagen57{
  color: white;/*Color del texto blanco*/
  font-size:100%;/*Tamaño del tipo de letra 100% */
  font-family: 'UD Digi Kyokasho','Tahoma',Arial,Verdana,sans-serif;/*Estilo de letras UD Digi Kyokasho, Tahoma, Arial, Verdana, sans-serif*/
  font-style: oblique;/*Establecer el estilo oblique del font-family*/
  border-color: #ECF0F1;/*Color del borde gris*/
  border-width: thick;/*La anchura del borde, grueso*/
  border-style: dotted;/*Estilo del borde dotted*/
}
.imagen58{
  color: white;/*Color del texto blanco*/
  font-size:100%;/*Tamaño del tipo de letra 100% */
  font-family: 'Vani','Tahoma',Arial,Verdana,sans-serif;/*Estilo de letras Vani, Tahoma, Arial, Verdana, sans-serif*/
  font-style: oblique;/*Establecer el estilo oblique del font-family*/
  border-color: #ECF0F1;/*Color del borde gris*/
  border-width: thick;/*La anchura del borde, grueso*/
  border-style: double;/*Estilo del borde double*/
}
.imagen59{
  color: white;/*Color del texto blanco*/
  font-size:100%;/*Tamaño del tipo de letra 100% */
  font-family: 'Vrinda','Tahoma',Arial,Verdana,sans-serif;/*Estilo de letras Vrinda, Tahoma, Arial, Verdana, sans-serif*/
  font-style: oblique;/*Establecer el estilo oblique del font-family*/
  border-color: #ECF0F1;/*Color del borde gris*/
  border-width: thick;/*La anchura del borde, grueso*/
  border-style: ridge;/*Estilo del borde ridge*/
}
.imagen60{
  color: white;/*Color del texto blanco*/
  font-size:100%;/*Tamaño del tipo de letra 100% */
  font-family: 'Webdings','Luminari',Arial,Verdana,sans-serif;/*Estilo de letras Webdings, Luminari, Arial, Verdana, sans-serif*/
  font-style: oblique;/*Establecer el estilo oblique del font-family*/
  border-color: #ECF0F1;/*Color del borde gris*/
  border-width: thick;/*La anchura del borde, grueso*/
}
.imagen61{
  color: white;/*Color del texto blanco*/
  font-size:100%;/*Tamaño del tipo de letra 100% */
  font-family: 'Wingdings','Marker Felt',Arial,Verdana,sans-serif;/*Estilo de letras Wingdings, Marker Felt, Arial, Verdana, sans-serif*/
  font-style: oblique;/*Establecer el estilo oblique del font-family*/
  border-color: #ECF0F1;/*Color del borde gris*/
  border-style: dotted;/*Estilo del borde dotted*/
}
.imagen62{
  color: white;/*Color del texto blanco*/
  font-size:100%;/*Tamaño del tipo de letra 100% */
  font-family: 'Yu Gothic','Monaco',Arial,Verdana,sans-serif;/*Estilo de letras Yu Gothic, Monaco, Arial, Verdana, sans-serif*/
  font-style: oblique;/*Establecer el estilo oblique del font-family*/
  border-color: #ECF0F1;/*Color del borde gris*/
  border-width: thick;/*La anchura del borde, grueso*/
  border-style: double;/*Estilo del borde double*/
}
.imagen63{
  color: white;/*Color del texto blanco*/
  font-size:100%;/*Tamaño del tipo de letra 100% */
  font-family: 'Zapf Chancery','papyrus',Arial,Verdana,sans-serif;/*Estilo de letras Zapf Chancery, papyrus, Arial, Verdana, sans-serif*/
  font-style: oblique;/*Establecer el estilo oblique del font-family*/
  border-color: #ECF0F1;/*Color del borde gris*/
  border-style: ridge;/*Estilo del borde rigde*/
}
.imagen64{
  color: white;/*Color del texto blanco*/
  font-size: 120%;/*Tamaño del tipo de letra 120% */
  text-align: center;/*Texto al medio*/
  font-family: 'Apple Chancery';/*Estilo de letras Apple Chancery*/
  border-width:8px;
  border-color:gray;/*Color del borde gris*/
  border-style: ridge;/*Estilo del borde rigde*/
}
.imagen65{
  color: white;/*Color del texto blanco*/
  font-size:100%;/*Tamaño del tipo de letra 100% */
  font-family: 'Shruti';/*Estilo de letras Shruti*/
  font-style: oblique;/*Establecer el estilo oblique del font-family*/
  text-align: center;/*Texto al medio*/
  text-decoration: underline overline wavy #979A9A; /*Decorar el texto con underline y color gris*/
  border-color: #909497;/*Color del borde gris*/
  border-style: double;/*Estilo del borde double*/
}
.imagen66{
  color: white;/*Color del texto blanco*/
  font-size:100%;/*Tamaño del tipo de letra 100% */
  font-family: 'SimHei';/*Estilo de letras SimHei*/
  font-style: oblique;/*Establecer el estilo oblique del font-family*/
  text-align: center;/*Texto al medio*/
  text-decoration: line-through overline wavy #979A9A;/*Decorar el texto con line-through y color gris*/
  border-color: #909497;/*Color del borde gris*/
  border-style: dashed;/*Estilo del borde dashed*/
}
.imagen67{
  color: white;/*Color del texto blanco*/
  font-size:100%;/*Tamaño del tipo de letra 100% */
  font-family: 'SimKai';/*Estilo de letras SimKai*/
  font-style: oblique;/*Establecer el estilo oblique del font-family*/
  text-align: center;/*Texto al medio*/
  text-decoration: line-through overline wavy #979A9A;/*Decorar el texto con line-through y color gris*/
  border-color: #909497;/*Color del borde gris*/
  border-style: dotted;/*Estilo del borde dotted*/
}
.imagen68{
  color: white;/*Color del texto blanco*/
  font-size:100%;/*Tamaño del tipo de letra 100% */
  font-family: 'Simplified Arabic';/*Estilo de letras Simplified Arabic*/
  font-style: oblique;/*Establecer el estilo oblique del font-family*/
  text-align: center;/*Texto al medio*/
  text-decoration: underline overline wavy #979A9A;/*Decorar el texto con underline y color gris*/
  border-color: #909497;/*Color del borde gris*/
  border-style: ridge;/*Estilo del borde rigde*/
}
.imagen69{
  color: white;/*Color del texto blanco*/
  font-size:100%;/*Tamaño del tipo de letra 100% */
  font-family: 'Simplified Chinese'; /*Estilo de letras Simplified Chinese*/
  font-style: oblique;/*Establecer el estilo oblique del font-family*/
  text-align: center;/*Texto al medio*/
  text-decoration: underline overline wavy #979A9A;/*Decorar el texto underline y color gris*/
  border-color: #909497;/*Color del borde gris*/
  border-style: solid;/*Estilo del borde solid*/
  border-radius: 10px;
}
.imagen70{
  color: white;/*Color del texto blanco*/
  font-size:100%;/*Tamaño del tipo de letra 100% */
  font-family: 'SimSun';/*Estilo de letras SimSun*/
  text-align: center;/*Texto al medio*/
  text-decoration: underline overline dotted #979A9A;/*Decorar el texto underline y color gris*/
  border-color: #909497;/*Color del borde gris*/
  border-style: double;/*Estilo del borde double*/
}
.imagen71{
  color: white;/*Color del texto blanco*/
  font-size:100%;/*Tamaño del tipo de letra 100% */
  font-family: 'SimSun-ExtB';/*Estilo de letras SimSun-ExtB*/
  text-align: center;/*Texto al medio*/
  text-decoration: underline overline dotted #979A9A;/*Decorar el texto underline y color gris*/
  border-color: #909497;/*Color del borde gris*/
  border-style: dashed;/*Estilo del borde dashed*/
}
.imagen72{
  color: white;/*Color del texto blanco*/
  font-size:100%;/*Tamaño del tipo de letra 100% */
  font-family: 'Symbol';/*Estilo de letras Symbol*/
  text-align: center;/*Texto al medio*/
  text-decoration: line-through overline dotted #979A9A;/*Decorar el texto line-through y color gris*/
  border-color: #909497;/*Color del borde gris*/
  border-style: dotted;/*Estilo del borde dotted*/
}
.imagen73{
  color: white;/*Color del texto blanco*/
  font-size:100%;/*Tamaño del tipo de letra 100% */
  font-family: 'Sylfaen';/*Estilo de letras Sylfaen*/
  text-align: center;/*Texto al medio*/
  text-decoration: underline overline dotted #979A9A;/*Decorar el texto underline y color gris*/
  border-color: #909497;/*Color del borde gris*/
  border-style: groove;/*Estilo del borde groove*/
}
.imagen74{
  color: white;/*Color del texto blanco*/
  font-size:100%;/*Tamaño del tipo de letra 100% */
  font-family: 'Traditional Arabic';/*Estilo de letras Traditional Arabic*/
  text-align: center;/*Texto al medio*/
  text-decoration: underline overline dotted #979A9A;/*Decorar el texto underline y color gris*/
  border-color: #909497;/*Color del borde gris*/
  border-style: dashed;/*Estilo del borde dashed*/
}
.imagen75{
  color: white;/*Color del texto blanco*/
  font-size: 100%;/*Tamaño del tipo de letra 100% */
  font-family: 'Tahoma';/*Estilo de letras Tahoma*/
  text-decoration: underline overline dotted #584b42;/*Decorar el texto underline y color gris*/
  border-color: #584b42;/*Color del borde gris*/
  border-style: dotted;/*Estilo del borde dotted*/
  text-align: center;/*Texto al medio*/
}
.imagen76{
  color: white;/*Color del texto blanco*/
  font-size: 100%;/*Tamaño del tipo de letra 100% */
  font-style: italic;/*Establecer el estilo italic del font-family*/
  font-family: 'Trattatello';/*Estilo de letras Trattatello*/
  text-align: right;/*Texto al a derecha*/
  text-decoration: underline overline dotted #909497 ;/*Decorar el texto underline y color gris*/
  border-color: #424949;/*Color del borde gris*/
  border-style: dotted;/*Estilo del borde dotted*/
}
.imagen77{
  color: white;/*Color del texto blanco*/
  font-family: 'Arial Rounded MT Bold'; /*Estilo de letras Ariel Rounded MT Bold*/
  text-decoration: underline overline dotted #032535;/*Decorar el texto underline y color gris*/
  border-color: #E5E7E9;/*Color del borde gris*/
  border-style: double;/*Estilo del borde double*/
  text-align: center;/*Texto al medio*/
}
.imagen78{
  color: white;/*Color del texto blanco*/
  font-family: 'Hoefler Text';/*Estilo de letras Hoefler text*/
  border-color: #515A5A;/*Color del borde gris*/
  border-style: inherit;/*Establecer el estilo inherit del font-family*/
  text-align: center;/*Texto al medio*/
}
.imagen79{
  color: white;/*Color del texto blanco*/
  font-family: 'papyrus';/*Estilo de letras papyrus*/
  border-color: #08ffc8;/*Color del borde gris*/
  text-align: center;/*Texto al medio*/
}
html body div:hover{
 background: #1F2021;/*Fondo del menú color rojo*/
}
html body header:hover{
 background: #e74c3c;/*Fondo del header color rojo-negro*/
}
html body aside:hover{
 background: #1F2021;/*Fondo del aside color gris-negro*/
}
html body footer:hover{
 background: #922b21;/*Fondo del footer color rojo*/
}
aside section p:hover{
 background: #626567 ;/*Fondo de p dentro de la section color griss*/
}
body aside form :hover{
 background: #e74c3c;/*Fondo del header form dentro del aside rojo-negro*/
}
html {
background-color: black;/*Fondo de todo la pagina html con color negro*/
}
body aside img:hover{
 background: #e74c3c;/*Fondo del img dentro del aside color rojo-negro*/
}
header {
  animation-duration: 3s; /* Duración de la animación*/
  animation-name: slidein;/*Llamar al estilo slidein*/
}

@keyframes slidein {
  from {
    margin-left: 10%;/* Comenzar la animación  desde la derecha*/
    width: 20%/*anchura del elemento con porcentaje*/
  }

}
