/*<!--
Practica02
Futbol
Author:   Fernando Sánchez
Date: 19/10/2019
Filename: style2.css
-->*/

body{
  margin: 0 auto;
  width: 100%;
  max-width: 1080px;
  max-height: 640px;
}
.otro{
  border: 3px #1F2021 solid;
  padding: 1%;
  margin: 1%;
}
.contenido{
  width: 55%;
  border: 3px #1F2021 solid;
  float: left;
  margin: 10px;
}
.lateral{
  width: 20%;
  margin: 10px;
  border: 3px #1F2021 solid;
  float: left;
}
body > footer {
  margin: 10px;
	clear: left;
  width: auto;
}
